@use 'sass:math';

// fluid typography from css-trick: https://css-tricks.com/snippets/css/fluid-typography/
@mixin size_manager($fontSizeMin, $fontSizeMax, $viewportMin, $viewportMax) {
  font-size: calc(
    (#{$fontSizeMax} - #{$fontSizeMin}) *
      ((100vw - #{$viewportMin}px) / (#{$viewportMax} - #{$viewportMin})) + #{$fontSizeMin}px
  );
}

@mixin position {
  @for $i from 1 to 4 {
    &:nth-of-type(#{$i}) {
      grid-column: #{getColumn($i)};
      grid-row: #{$i};
    }
  }
}
