.waveSvgWrapper {
  width: 100%;
  overflow-x: hidden;
}

.waveSvg {
  fill: $color-greyishWhite;
  transform: rotate(180deg) translateY(2px);
  width: 300%;

  path {
    fill: $color-greyishWhite;
  }
}
