.scrollCircleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: rem(89px);
}

.scrollCircle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: rem(120px);
  height: rem(120px);

  border-radius: 50%;

  background-color: $color-light;
  mix-blend-mode: color-dodge;
}

.scrollCircleHeading {
  font-family: 'Aventine', sans-serif;
  font-weight: 500;
  font-size: rem(50px);

  margin: 0.7rem 0 0;
}

.scrollCircleSvg {
  width: rem(69px);
  fill: $color-light;
}

@include medium_and_larger_viewport {
  .scrollCircleWrapper {
    margin-top: rem(75px);
  }
}
