.hero_section {
  display: block;

  min-height: 100%;
  width: 100vw;
  max-width: 100%;
  position: relative;
}

.repeatedSvgContainer {
  width: rem(308px);
  height: rem(273px);
  position: absolute;
}

.headline {
  display: none;
  overflow-y: hidden;
}

.headlineContent {
  display: inline-block;
}

.grainyOverlay {
  position: absolute;
  pointer-events: none;
  min-height: 100%;
  min-width: 100%;

  mix-blend-mode: overlay;
}

.title {
  font-family: 'Aventine', sans-serif;
  font-weight: 500;
  font-size: rem(64px);
  color: $color_light;

  margin-top: rem(228px);
  //margin-top: 10%;
  margin-bottom: 0;
  //letter-spacing: rem(-1.3px);
  padding-left: rem(7px);
}

.test {
  font-family: 'Aventine', sans-serif;
}

.yearSvgWrapper {
  overflow-y: hidden;
}

@include medium_and_larger_viewport {
  .title {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    font-size: rem(128px);
    margin-top: 100px;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .heading_name {
    grid-column: 2;
  }

  .yearSvgWrapper {
    grid-column: 3;
    display: flex;
  }
}
