.aboutMeSection {
  position: relative;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: $color-greyishWhite;
}

.aboutMeParagraph {
  width: rem(340px);
  margin-inline: auto;
  margin-top: rem(53px);

  font-family: 'Aventine', sans-serif;
  font-weight: 500;
  font-size: rem(24px);
  color: $color-blueish;

  span {
    font-size: rem(36px);
    display: inline-block;
    width: 100%;
  }
}

@include medium_and_larger_viewport {
  .aboutMeSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    padding-right: rem(50px);
  }

  .sectionHeadingContainer {
    grid-column: 1 / 3;
    height: max-content;
    justify-content: start;
    padding-left: rem(60px);

    h2 {
      font-size: rem(180px);
    }
  }

  .aboutMeParagraph {
    font-size: rem(36px);

    width: rem(783px);
    grid-column: 2/3;
  }
}
